form {
  background-color: var(--black2);
  width: 100%;
  margin: auto;
  border-radius: inherit;
  -webkit-border-radius: inherit;
  -moz-border-radius: inherit;
  -ms-border-radius: inherit;
  -o-border-radius: inherit;
  overflow: hidden;
  padding: 20px;
}

form > div:not(:last-of-type) {
  margin-bottom: 20px;
}
