.profileImg {
  width: 100%;
  height: 100%;
  overflow: hidden;
  max-height: 317px;
}
.profileImg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
