.formSection {
  background-color: var(--black3);
  padding: 25px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  width: 100%;
  max-width: 400px;
}

@media (max-width: 575.98px) {
  .formSection {
    padding: 15px;
  }
}
